canvas {
	top: 50px;
	border: 1px solid blue;
	width: 84%;
	left: 8%;
	position: absolute;
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
}
